@font-face {
    font-family: 'iconfont';
    src: url('http://cdn.diygw.com/iconfont.woff2') format('woff2'),
         url('http://cdn.diygw.com/iconfont.woff') format('woff'),
         url('http://cdn.diygw.com/iconfont.ttf') format('truetype'),
         url('http://cdn.diygw.com/iconfont.svg#iconfont') format('svg');
    font-weight: 500;
    font-style: normal;
}


.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-neirongzhanshi:before { content: "\e649"; }

.icon-layoutcolumn:before { content: "\e6bb"; }

.icon-image:before { content: "\e662"; }

.icon-tuwen:before { content: "\e68f"; }

.icon-ditu:before { content: "\e634"; }

.icon-form:before { content: "\e620"; }

.icon-fenyefu:before { content: "\e7b1"; }

.icon-progress:before { content: "\e67a"; }

.icon-layoutcolumn4:before { content: "\e69e"; }

.icon-qing:before { content: "\e600"; }

.icon-baoyu:before { content: "\e601"; }

.icon-dalei:before { content: "\e602"; }

.icon-dabaoyu:before { content: "\e603"; }

.icon-dafeng:before { content: "\e604"; }

.icon-daxue:before { content: "\e605"; }

.icon-dayu:before { content: "\e606"; }

.icon-duoyun:before { content: "\e607"; }

.icon-wu:before { content: "\e609"; }

.icon-xiaoxue:before { content: "\e60a"; }

.icon-xiaoyu:before { content: "\e60b"; }

.icon-yin:before { content: "\e60c"; }

.icon-zhongyu:before { content: "\e60d"; }

.icon-yuyinshuru:before { content: "\e62a"; }

.icon-wifi:before { content: "\e77f"; }

.icon-browser:before { content: "\e903"; }

.icon-menus:before { content: "\e608"; }

.icon-label:before { content: "\e60e"; }

.icon-txt:before { content: "\e639"; }

.icon-dianpu:before { content: "\e60f"; }

.icon-pinglun:before { content: "\e610"; }

.icon-huifudetiezi:before { content: "\e617"; }

.icon-more:before { content: "\e618"; }

.icon-wodefenxiang:before { content: "\e61c"; }

.icon-wofadetiezi:before { content: "\e61e"; }

.icon-shoucang:before { content: "\e622"; }

.icon-shequ:before { content: "\e627"; }

.icon-yifahuodingdan:before { content: "\e628"; }

.icon-yiwanchengdingdan:before { content: "\e629"; }

.icon-tab:before { content: "\e902"; }

.icon-shengyin:before { content: "\e637"; }

.icon-danxingshurukuang:before { content: "\e667"; }

.icon-i-badge:before { content: "\e612"; }

.icon-bumenshu:before { content: "\e623"; }

.icon-accotd:before { content: "\ed2d"; }

.icon-page:before { content: "\ed3b"; }

.icon-dianhuatubiao:before { content: "\e67b"; }

.icon-css:before { content: "\e613"; }

.icon-switch:before { content: "\e6ad"; }

.icon-xiazaiwenjianjia:before { content: "\e68e"; }

.icon-navigator:before { content: "\e611"; }

.icon-xiadanyouhui:before { content: "\e624"; }

.icon-chongzhifanxian:before { content: "\e626"; }

.icon-hechagonggao:before { content: "\e62c"; }

.icon-zengjiayuangong:before { content: "\e632"; }

.icon-yuangongliebiao:before { content: "\e633"; }

.icon-alarmclock:before { content: "\e614"; }

.icon-alert:before { content: "\e615"; }

.icon-aligncenter:before { content: "\e616"; }

.icon-alignjustify:before { content: "\e619"; }

.icon-alignleft:before { content: "\e61a"; }

.icon-alignright:before { content: "\e61b"; }

.icon-anchor:before { content: "\e61d"; }

.icon-angledoubledown:before { content: "\e61f"; }

.icon-angledoubleleft:before { content: "\e621"; }

.icon-angledoubleright:before { content: "\e625"; }

.icon-angledoubleup:before { content: "\e62b"; }

.icon-angledown:before { content: "\e62d"; }

.icon-angleleft:before { content: "\e62e"; }

.icon-angleright:before { content: "\e62f"; }

.icon-angleup:before { content: "\e630"; }

.icon-window:before { content: "\e631"; }

.icon-zip:before { content: "\e635"; }

.icon-zoomin:before { content: "\e636"; }

.icon-zoomout:before { content: "\e638"; }

.icon-underline:before { content: "\e63a"; }

.icon-unlock:before { content: "\e63b"; }

.icon-uppercase:before { content: "\e63c"; }

.icon-vector:before { content: "\e63d"; }

.icon-viewgrid:before { content: "\e63e"; }

.icon-viewlist:before { content: "\e63f"; }

.icon-viewlistalt:before { content: "\e640"; }

.icon-clip:before { content: "\e641"; }

.icon-clipboard:before { content: "\e642"; }

.icon-layouttabv:before { content: "\e855"; }

.icon-layoutcolumn2:before { content: "\e87e"; }

.icon-layoutcolumn3:before { content: "\e880"; }

.icon-layout2:before { content: "\e6c8"; }

.icon-panel:before { content: "\e643"; }

.icon-js:before { content: "\e65d"; }

.icon-shurujianpan:before { content: "\e709"; }

.icon-add:before { content: "\e6d5"; }

.icon-iframe2:before { content: "\e644"; }

.icon-HTML:before { content: "\e6ac"; }

.icon-bianji:before { content: "\e6d7"; }

.icon-breadcrumb:before { content: "\e645"; }

.icon-bottomtab:before { content: "\e646"; }

.icon-button:before { content: "\e6a8"; }

.icon-bad:before { content: "\e647"; }

.icon-good:before { content: "\e648"; }

.icon-plus-numberfill:before { content: "\e715"; }

.icon-blanksfill:before { content: "\e717"; }

.icon-grid:before { content: "\e71a"; }

.icon-pause:before { content: "\e723"; }

.icon-activity:before { content: "\e726"; }

.icon-shujuji:before { content: "\e694"; }

.icon-qrcode:before { content: "\e73a"; }

.icon-iframe:before { content: "\e64a"; }

.icon-android:before { content: "\e64b"; }

.icon-appleo:before { content: "\e64c"; }

.icon-folder:before { content: "\e64d"; }

.icon-folderopen:before { content: "\e64e"; }

.icon-iconfontdesktop:before { content: "\e64f"; }

.icon-ie:before { content: "\e650"; }

.icon-info:before { content: "\e651"; }

.icon-laptop:before { content: "\e652"; }

.icon-mail:before { content: "\e653"; }

.icon-mobile:before { content: "\e654"; }

.icon-phone:before { content: "\e655"; }

.icon-poweroff:before { content: "\e656"; }

.icon-question:before { content: "\e657"; }

.icon-reload:before { content: "\e658"; }

.icon-tablet:before { content: "\e659"; }

.icon-windowso:before { content: "\e65b"; }

.icon-icon:before { content: "\e6ba"; }

.icon-banquan:before { content: "\e65a"; }

.icon-changjianwenti:before { content: "\e65c"; }

.icon-message:before { content: "\e65e"; }

.icon-dianhua:before { content: "\e65f"; }

.icon-retop:before { content: "\e660"; }

.icon-fenxiangliang:before { content: "\e661"; }

.icon-shouye:before { content: "\e663"; }

.icon-tuijian:before { content: "\e664"; }

.icon-weixin:before { content: "\e665"; }

.icon-shujiegou:before { content: "\e666"; }

.icon-shangchuananniu:before { content: "\e6c4"; }

.icon-qq:before { content: "\e668"; }

.icon-logout:before { content: "\e6f7"; }

.icon-upload:before { content: "\e727"; }

.icon-tuwen1:before { content: "\e698"; }

.icon-delete1:before { content: "\e6d9"; }

.icon-password:before { content: "\e68d"; }

.icon-empty:before { content: "\e695"; }

.icon-diannaodianqi:before { content: "\e669"; }

.icon-xiangji:before { content: "\e66a"; }

.icon-weizhi:before { content: "\e66b"; }

.icon-yijiesuo:before { content: "\e66c"; }

.icon-yisuo:before { content: "\e66d"; }

.icon-fangda:before { content: "\e66e"; }

.icon-suoxiao:before { content: "\e66f"; }

.icon-sousuo:before { content: "\e670"; }

.icon-flex:before { content: "\e677"; }

.icon-table:before { content: "\e671"; }

.icon-renyuan:before { content: "\e672"; }

.icon-comment:before { content: "\e673"; }

.icon-card:before { content: "\e674"; }

.icon-fuhao-xiangji:before { content: "\e675"; }

.icon-riqiqujian:before { content: "\e676"; }

.icon-date:before { content: "\e678"; }

.icon-audio:before { content: "\e679"; }

.icon-tuichu:before { content: "\e67c"; }

.icon-peplesetting:before { content: "\e67d"; }

.icon-desktop:before { content: "\e67e"; }

.icon-delete:before { content: "\e67f"; }

.icon-bottom:before { content: "\e680"; }

.icon-left:before { content: "\e681"; }

.icon-lefts:before { content: "\e682"; }

.icon-rights:before { content: "\e683"; }

.icon-top:before { content: "\e684"; }

.icon-right:before { content: "\e685"; }

.icon-camera:before { content: "\e686"; }

.icon-video:before { content: "\e687"; }

.icon-search:before { content: "\e688"; }

.icon-line:before { content: "\e689"; }

.icon-document:before { content: "\e68a"; }

.icon-dashboard:before { content: "\e68b"; }

.icon-bar:before { content: "\e68c"; }

.icon-attachment:before { content: "\e690"; }

.icon-desc:before { content: "\e691"; }

.icon-searchpeple:before { content: "\e692"; }

.icon-asc:before { content: "\e693"; }

.icon-pepole:before { content: "\e696"; }

.icon-addpepole:before { content: "\e697"; }

.icon-cloudupload:before { content: "\e699"; }

.icon-richeng:before { content: "\e69a"; }

.icon-setting:before { content: "\e69b"; }

.icon-shoucang1:before { content: "\e69c"; }

.icon-home:before { content: "\e69d"; }

.icon-shebei-shouji:before { content: "\e69f"; }

.icon-print:before { content: "\e6a0"; }

.icon-book:before { content: "\e6a1"; }

.icon-team:before { content: "\e6a2"; }

.icon-refresh:before { content: "\e6a3"; }

.icon-location:before { content: "\e6a4"; }

.icon-clounddown:before { content: "\e6a5"; }

.icon-news:before { content: "\e6a6"; }

.icon-department:before { content: "\e6a7"; }

.icon-pie:before { content: "\e6a9"; }

.icon-xiala:before { content: "\e6aa"; }

.icon-biaoqian:before { content: "\e6ab"; }

.icon-step:before { content: "\e6ae"; }

.icon-caidan:before { content: "\e6af"; }

.icon-chuansuokuang:before { content: "\e6b0"; }

.icon-input:before { content: "\e6b1"; }

.icon-checkbox:before { content: "\e6b2"; }

.icon-diedaiqi:before { content: "\e6b3"; }

.icon-radio:before { content: "\e6b4"; }

.icon-textarea:before { content: "\e6b5"; }

.icon-fenlan:before { content: "\e6b6"; }

.icon-fuwenben:before { content: "\e6b8"; }

.icon-cascade:before { content: "\e6b9"; }

.icon-jinggaotishi:before { content: "\e6bc"; }

.icon-mulitselect:before { content: "\e6bd"; }

.icon-link:before { content: "\e6be"; }

.icon-liebiaorongqi:before { content: "\e6bf"; }

.icon-slider:before { content: "\e6c0"; }

.icon-view:before { content: "\e6c1"; }

.icon-filter:before { content: "\e6c2"; }

.icon-timeline:before { content: "\e6c3"; }

.icon-dropdowntree:before { content: "\e6c5"; }

.icon-shujujuzhen:before { content: "\e6c6"; }

.icon-number:before { content: "\e6c7"; }

.icon-imgupload:before { content: "\e6c9"; }

.icon-img:before { content: "\e6ca"; }

.icon-text:before { content: "\e6cb"; }

.icon-select:before { content: "\e6cc"; }

.icon-dialog:before { content: "\e6cd"; }

.icon-tip:before { content: "\e6ce"; }

.icon-xuanxiangqia:before { content: "\e6cf"; }

.icon-accord:before { content: "\e6d0"; }

.icon-code:before { content: "\e6d1"; }

.icon-xiazaiwenjian:before { content: "\e6b7"; }

.icon-shuju:before { content: "\e6d2"; }

.icon-xin:before { content: "\e6d3"; }

.icon-tree:before { content: "\e6d6"; }

.icon-jindutiao:before { content: "\e6d8"; }

.icon-shangchuanwenjian1:before { content: "\e6d4"; }